
\.ipynb_checkpoints/

CaseStudy3/Data/20021010_easy_ham/easy_ham/

CaseStudy3/Data/20021010_hard_ham/hard_ham/

CaseStudy3/Data/20021010_spam/spam/

CaseStudy3/Data/20030228_easy_ham/easy_ham/

CaseStudy3/Data/20030228_easy_ham_2/easy_ham_2/

CaseStudy3/Data/20030228_hard_ham/hard_ham/

CaseStudy3/Data/20030228_spam/spam/

CaseStudy3/Data/20030228_spam_2/spam_2/

CaseStudy3/Data/20050311_spam_2/spam_2/

CaseStudy3/Data/Zips/
